.grid-container {
  outline: 2px solid tomato;
  outline-offset: 3px;
  /* grid */
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
  /*  repeat(<kiek kartu kartoti>, <koki plocio vieneta kartoti>) */
  grid-template-columns: repeat(5, 1fr);
  /* grid-template-columns: 2fr 40rem 1fr; */
}

.grid-item {
  border: 1px solid #000;
  padding: 1rem;
  font-size: 2rem;
}

.grid-item-2 {
  grid-column: span 2;
  grid-row: span 2;
}

.grid-item-10 {
  grid-column: span 3;
}
