header {
  background-color: burlywood;
}

main {
  background-color: coral;
}

aside {
  background-color: aquamarine;
}

footer {
  background-color: tomato;
}

.element {
  min-height: 150px;
  font-size: 5rem;
  padding: 1rem;
}

/* Grid */

.grid-container {
  display: grid;
}

/* media */

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 500px) {
}
