/* common */

body {
  font-family: 'Poppins', sans-serif;
  color: #3a4348;
  background-color: #e6e6e6;
}

section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.title--section {
  font-size: 1.4rem;
  font-weight: normal;
  color: blueviolet;
}

.subtitle--section {
  font-size: 3rem;
  font-weight: normal;
  margin-bottom: 4em;
}

.text {
  line-height: 1.8;
  color: #81919a;
}
/* Services */

.section-services .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.title--services {
  font-size: 2rem;
  margin-bottom: 0.5em;
  font-weight: 400;
}

.section-services .icon {
  font-size: 5rem;
  color: green;
}

/* Icon outer */
.icon-outer {
  /* border: 1px solid #000; */
  margin-bottom: 2.5rem;
  display: inline-block;
  position: relative;
}

/* kairys burbuliukas */
.icon-outer::before {
  content: '';
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgba(0, 128, 0, 0.235);
  display: block;
  position: absolute;
  left: -1rem;
  top: -0.8rem;
  border-radius: 50%;
}

.price-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}
/* Plans */

.plan {
  background-color: white;
  text-align: center;
}

.plan__title {
  font-size: 1.4rem;
  padding: 0.7em 1.7em;
  background-color: #24bdc9;
  color: white;
  font-weight: normal;
  display: inline-block;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.plan__price {
  font-size: 4rem;
}
.plan__price sup {
  font-size: 2rem;
  vertical-align: text-top;
}
